@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Oswald&family=Play:wght@700&family=Roboto&family=Russo+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  button {
    @apply transition ease-in-out delay-50 bg-green-600 w-[100px] h-[27px] hover:scale-105 text-xs text-white p-1 rounded hover:bg-green-500;
  }
} */

:root {
  font-family: 'Play';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(39, 39, 39, 0.87);
  /* background-color: #252222; */
  background: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
